/**
 * Dashboard events feed
 *
 */
.event-item {
  font-size: $gl-font-size;
  padding: $gl-padding 0 $gl-padding $gl-spacing-scale-8;
  border-bottom: 1px solid $white-normal;
  color: $gl-text-color-secondary;
  position: relative;
  line-height: $gl-line-height-20;

  .system-note-image {
    position: absolute;
    left: 0;

    svg {
      fill: $gl-text-color-secondary;
    }
  }

  .system-note-image-inline {
    svg {
      fill: $gl-text-color-secondary;
    }
  }

  .system-note-image,
  .system-note-image-inline {
    &.opened-icon,
    &.created-icon {
      svg {
        fill: $green-300;
      }
    }

    &.closed-icon svg {
      fill: $red-300;
    }

    &.accepted-icon svg {
      fill: $blue-300;
    }

    &.commented-on-icon svg {
      fill: $blue-600;
    }
  }

  .event-user-info {
    margin-bottom: $gl-padding-4;

    .author-name {
      a {
        color: $gl-text-color;
        font-weight: $gl-font-weight-bold;
      }
    }
  }

  .event-title {
    .event-type {
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }

  .event-body {
    margin-top: $gl-padding-4;
    margin-right: 174px;
    color: $gl-text-color;

    .event-note {
      word-wrap: break-word;

      .md {
        font-size: $gl-font-size;

        .badge.badge-pill {
          color: $gl-text-color;
        }

        iframe.twitter-share-button {
          vertical-align: bottom;
        }

        .gl-label-scoped.gl-label-sm {
          --label-inset-border: inset 0 0 0 1px currentColor;
        }
      }

      code {
        white-space: pre-wrap;
      }

      pre {
        border: 0;
        background: $gray-light;
        border-radius: 0;
        color: $gray-500;
        overflow: hidden;
      }

      .note-image-attach {
        margin-top: $gl-padding-4;
        margin-left: 0;
        max-width: 200px;
        float: none;
      }

      p:last-child {
        margin-bottom: 0;
      }
    }

    .event-note-icon {
      color: $gray-500;
      float: left;
      font-size: $gl-font-size;
      margin-right: 5px;
    }
  }

  &:last-child {
    border: 0;
  }

  .event-commits {
    li {
      &.commit {
        background: transparent;
        padding: 0;
        border: 0;

        .commit-row-title {
          font-size: $gl-font-size;
        }
      }

      &.commits-stat {
        display: block;
        padding: 0 3px 0 0;

        &:hover {
          background: none;
        }

        a {
          color: $blue-600;
        }
      }
    }
  }

  .event-item-timestamp {
    float: right;
  }
}

// hide event scope (namespace + project) where it is not necessary
.project-activity {
  .event-scope {
    display: none;
  }
}
